name: Create GitHub release

# Create a GitHub release when a tag is pushed
on:
  push:
    tags:
      - 'v*'
      - '!*a[0-9]+'
      - '!*b[0-9]+'
      - '!*rc[0-9]+'

jobs:
  release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Set up git-cliff
      uses: kenji-miyake/setup-git-cliff@v2

    - name: Build Changelog URL and create release
      run: |
        TAG_NAME=${{ github.ref_name }}
        NOTES=$(git cliff --latest)
        gh release create "$TAG_NAME" --verify-tag --title "$TAG_NAME" --notes "$NOTES"
