name: Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: test with ${{ matrix.env }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      azurite:
        image: mcr.microsoft.com/azure-storage/azurite
        ports:
          - 10000:10000

    strategy:
      fail-fast: false
      matrix:
        env:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
        os:
          - ubuntu-latest

    env:
      FILE_KEEPER_TEST_MINIO_ENDPOINT: "http://127.0.0.1:9000"
      FILE_KEEPER_TEST_MINIO_KEY: "minioadmin"
      FILE_KEEPER_TEST_MINIO_SECRET: "minioadmin"
      FILE_KEEPER_TEST_MINIO_BUCKET: "file-keeper"

      FILE_KEEPER_TEST_AZURITE_ACCOUNT_URL: "http://127.0.0.1:10000/{account_name}"
      FILE_KEEPER_TEST_AZURITE_ACCOUNT_NAME: "devstoreaccount1"
      FILE_KEEPER_TEST_AZURITE_ACCOUNT_KEY: "Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="
      FILE_KEEPER_TEST_AZURITE_CONTAINER_NAME: "file-keeper"

      FILE_KEEPER_TEST_GCS_ENDPOINT: "http://127.0.0.1:4443"

    steps:
      - uses: actions/checkout@v4

      - name: Start GCS
        uses: fsouza/fake-gcs-action@v0.4.1
        with:
          version: "1.52.2"
          scheme: http

      - name: Start MinIO
        uses: infleet/minio-action@v0.0.1
        with:
          port: "9000"
          version: "latest"
          username: "minioadmin"
          password: "minioadmin"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.13 tox --with tox-uv --with tox-gh

      - name: Install Python
        if: matrix.env != '3.13'
        run: uv python install --python-preference only-managed ${{ matrix.env }}

      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false -e ${{ matrix.env }}
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}

      - name: Run test suite
        run: tox run --skip-pkg-install -e ${{ matrix.env }}
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
